<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.laiyuanwen.android.baby">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TeamworkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 欢迎页 -->
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录页-->
        <activity android:name=".LoginActivity">

        </activity>

        <!-- 首页 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">

        </activity>

        <!-- 首页弹窗 -->
        <activity
            android:name=".NotificationActivity"
            android:theme="@style/TranslucentTheme">

        </activity>

        <!-- Debug页面 -->
        <activity android:name=".debug.DebugActivity">

        </activity>

        <!-- 详情页 -->
        <activity
            android:name=".detail.DetailActivity"
            android:theme="@style/FlutterTheme">

        </activity>
    </application>

</manifest>